/*home*/
.bodyh {
    margin: 0;
    padding: 0px;
    background-color: #12132A;
    background-image: url(img/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans";
    color: #ffffff;
}
.header {
    padding: 10px;
    background-color: #12132a00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header > * {
    margin: 0px 5px 0px 5px;
}
.headers {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}
.headers > * {
    margin-left: 40px;
}
.header button {
    cursor: pointer;
    margin-left: 200px;
    margin-right: 50px;
    background-color: #12132a;
    border-radius: 0px;
    border: 2px white solid;
    width: 146px;
    height: 50px;
    color: #ffffff;
}
.header button:hover {
    background-color: #394a74;
}
.select {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.unselect {
    color: #767799;
    text-decoration: none;
}
.img1 {
    width: 450px;
    margin-left: 100px;
    position: relative;
    top: 3px;
}
.home {
    display: flex;
    justify-content: center;
}
.title {
    color: #ffffff;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.para {
    color: #767799;
    margin-top: 10px;
    margin-bottom: 50px;
}
.rith {
    width: 50%;
    margin-left: 60px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.rith button {
    background-color: #12132a;
    border-radius: 0px;
    border: 2px white solid;
    border-color: #ffffff;
    width: 146px;
    height: 50px;
    color: #ffffff;
}
.botato {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tomato {
    background-color: #0008ff00;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ads {
    background-color: #162446;
    height: 100px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ads > img {
    width: auto;
    height: 35px;
}
/*about*/
.aboutp {
    margin: 0;
    padding: 0px;
    background-color: #12132A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans";
    color: #ffffff;
}
.about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.carte {
    width: 250px;
    height: 300px;
    border: 2px solid #C23893;
    border-radius: 10px;
}
.imm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imm > img {
    width: auto;
    height: 50px;
}
/*service*/
.srvp {
    margin: 0;
    padding: 0px;
    background-color: #12132A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans";
    color: #ffffff;
}
.cartop {
    display: flex;
    justify-content: center;
}
.cartstop {
    margin-top: 20px;
}
.iss {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #C23893;
    padding: 30px;
    width: 300px;
}
.iss > img {
    width: auto;
    height: 50px;
}
/*______________________________________________________*/
.carbot {
    display: flex;
    justify-content: center;
}
.cartsbot {
    margin-top: 0px;
    margin-bottom: 20px;
}
.issp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    width: 300px;
}
.issp > img {
    width: auto;
    height: 50px;
}
/*event*/
.eventp {
    margin: 0;
    padding: 0px;
    background-color: #12132A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Plus Jakarta Sans";
    color: #ffffff;
}
.img2 {
    width: auto;
    height: 400px;
}
.img11 {
    width: auto;
    height: 600px;
}
.eventdis {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botatos button {
    background-color: #12132a;
    border-radius: 0px;
    border: 2px white solid;
    border-color: #ffffff;
    width: 146px;
    height: 50px;
    color: #ffffff;
}
.eventdisb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 100px;
}
/*___________________________________________________*/
.oppo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.source {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 175px;
}
.fooot {
    background-color: #C23893;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
}
.soot {
    display: flex;
    justify-content: end;
    align-items: center;
}
.goat {
    margin-left: 15px;
}
.botato > button {
    cursor: pointer;
}
.botato button:hover {
    background-color: #394a74;
}
.last {
    display: flex;
}
.img12 {
    width: auto;
    height: 550px;
}
.deb {
    background-color: #12132a;
    border-radius: 0px;
    border: 2px white solid;
    border-color: #ffffff;
    width: 146px;
    height: 50px;
    color: #ffffff;
    margin-top: 25px;
}
.eventow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lasttss {
    display: flex;
    justify-content: center;
}
.lasttss img {
    width: auto;
    height: 600px;
}